@model IEnumerable<ConsumeApiTask1.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Customer List</h1>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                    @Html.ActionLink("Edit", "UpdateCustomer", new { id=item.Id})
            </td>
            <td>
                    @Html.ActionLink("Delete", "DeleteCustomer", new { id=item.Id })

            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="AddCustomer" class="btn btn-success">Add New Customer</a>
</p>
<hr/>

@*<p>
    <a asp-action="CreateCustomerList" class="btn btn-primary">Create Customer List</a>
</p>*@
